#graph {
  position: relative;
}

#graph-canvas {
  width: 500px;
  height: 500px;
  border: solid 1px black;
  position: relative;
}

.function-form p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.set-coefficients p {
  margin-top: 16px;
  margin-bottom: 8px;
}

.set-coefficients input {
  width: 50px;
  margin-left: 10px;
}
