#graph_area {
  position: relative;
}

#graph_canvas {
  width: 500px;
  height: 500px;
  border: solid 1px black;
  position: relative;
}

/* 縦軸 */
#graph_area::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 500px;
  border: solid 0.5px black;
  top: 0px;
  left: 249.5px;
}

/* 横軸 */
#graph_area::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 0px;
  border: solid 0.5px black;
  top: 250px;
  left: 0px;
}

.highlight {
  background: #ff0;
  font-weight: bold;
}
